@import "reset.css";
@import "variables.css";

/* Components */
@import "components/nav.css";

/* Screens */
@import "screens/main.css";
@import "screens/regions.css";

/* font */
@font-face {
  font-family: "SEBANG_Gothic_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SEBANG_Gothic_Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

a:hover {
  color: var(--hover-text);
}
