/* 메뉴바 - 이름 길이에 따라 늘어남 */
.menu-bar {
  z-index: 3;
  position: fixed;
  position: relative;
  top: 120px;
  width: 200px;
  background-color: white;
  box-shadow: 3px 2px 5px gray;
  list-style: none;
  padding-left: 20px;
  padding-top: 150px;
  padding-bottom: 40px;
}

/* 로고 이미지 */
.menu-bar img {
  position: absolute;
  width: 180px;
  height: 50px;
  top: 40px;
  left: 7px;
  cursor: pointer;
}

/* 도 이름+시 이름 1set */
.menu-bar-box {
  padding-left: 10px;
  margin-bottom: 30px;
}

.do-name {
  font-family: abster;
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
  cursor: pointer;
}

/* 시 이름 1set */
.menu-bar-list {
  margin-top: 20px;
}

.si-name {
  margin-top: 10px;
  cursor: pointer;
}

/* 시 이름 hover시 컬러와 두께 변경 */
.si-name:hover {
  color: var(--main-color);
  font-weight: bold;
}
